<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mytest.oplib.best.repository.BookBestMapper">

    <!-- 테이블 삽입 -->
    <insert id="batchInsert">
        INSERT INTO book_best (
            book_rank,
            title,
            author,
            lib_name,
            image,
            publish_year,
            fetched_at)
        VALUES
            <foreach collection="rows" item="row" separator=",">
                (#{row.bookRank},
                #{row.title},
                #{row.author},
                #{row.libName},
                #{row.image},
                #{row.publishYear},
                #{row.fetchedAt})
            </foreach>
    </insert>

    <delete id="deleteAll">
        DELETE FROM book_best
    </delete>

    <select id="selectPage" resultType="com.mytest.oplib.best.dto.BookBestRow">
        SELECT
            book_id AS bookId,
            book_rank AS bookRank,
            title,
            author,
            lib_name AS libName,
            image,
            publish_year AS publishYear,
            fetched_at AS fetchedAt
        FROM book_best
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author LIKE CONCAT('%', #{author}, '%')
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy == 'PUBLISH_YEAR_DESC'">publish_year DESC, book_rank ASC</when>
            <when test="orderBy == 'PUBLISH_YEAR_ASC'">publish_year ASC, book_rank ASC</when>
            <otherwise>book_rank ASC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM book_best
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author LIKE CONCAT('%', #{author}, '%')
            </if>
        </where>
    </select>

</mapper>
